BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "oOSC_Enable" SITE "1" ;
LOCATE COMP "oReset_N_ETH" SITE "2" ;
LOCATE COMP "iReset_N_Button" SITE "3" ;
LOCATE COMP "iPin23_IN1_Door" SITE "4" ;
LOCATE COMP "oRed_Ind_LED" SITE "7" ;
LOCATE COMP "oSystem_ON" SITE "8" ;
LOCATE COMP "oRed_LED_Pulse" SITE "9" ;
LOCATE COMP "iFront_Panel_SW_ON" SITE "10" ;
LOCATE COMP "oReset_N" SITE "12" ;
LOCATE COMP "oErase_N" SITE "13" ;
LOCATE COMP "oWhite_LED_Pulse" SITE "14" ;
LOCATE COMP "oFrame_Grab_Trig" SITE "15" ;
LOCATE COMP "iEncoder_Trig" SITE "16" ;
LOCATE COMP "iPin11_Prev_Cam_Trig" SITE "17" ;
LOCATE COMP "iPin29_Top_Illumination" SITE "18" ;
#LOCATE COMP "oOut_To_Galil" SITE "19" ;
LOCATE COMP "iSlideRel_Home_Sens" SITE "20" ;
LOCATE COMP "oSlideRel_Step" SITE "21" ;
#LOCATE COMP "iRST_Ard_FromGalil_N" SITE "24" ;
#LOCATE COMP "iIn_From_Galil" SITE "25" ;
LOCATE COMP "iERASE_CMD" SITE "28" ;
LOCATE COMP "oSlideRel_DIR" SITE "29" ;
LOCATE COMP "oSlideRel_ENA" SITE "30" ;
#LOCATE COMP "iPin18_ENA_Red_LED" SITE "34" ;
#LOCATE COMP "iPin13_ENA_Green_LED" SITE "35" ;
LOCATE COMP "oGreen_LED_Pulse" SITE "36" ;
#LOCATE COMP "iPin19_ENA_Blue_LED" SITE "37" ;
LOCATE COMP "oPreview_Cam_Trig" SITE "38" ;
LOCATE COMP "oPreview_Top_Illumination" SITE "39" ;
LOCATE COMP "oPreview_Bot_Illumination" SITE "40" ;
LOCATE COMP "iPin24_IN2_Door" SITE "42" ;
LOCATE COMP "oDoor_IN1" SITE "43" ;
LOCATE COMP "oDoor_IN2" SITE "45" ;
LOCATE COMP "iRFID_Data_IN" SITE "47" ;
LOCATE COMP "oRFID_CLK" SITE "51" ;
LOCATE COMP "oRFID_Data_OUT" SITE "52" ;
LOCATE COMP "iPin36_RFID_Reset_N" SITE "53" ;
LOCATE COMP "iPin44_RFID_S0" SITE "54" ;
LOCATE COMP "iPin45_RFID_S1" SITE "57" ;
LOCATE COMP "iPin46_RFID_S2" SITE "58" ;
LOCATE COMP "iPin47_RFID_EN_N" SITE "59" ;
LOCATE COMP "oPin48_CartridgeSW1" SITE "60" ;
LOCATE COMP "oPin49_CartridgeSW2" SITE "61" ;
LOCATE COMP "oPin50_CartridgeSW3" SITE "62" ;
LOCATE COMP "oPin51_CartridgeSW4" SITE "63" ;
LOCATE COMP "oPin43_CartridgeSW5" SITE "64" ;
LOCATE COMP "iPin42_WhiteLED_ENA_N" SITE "65" ;
LOCATE COMP "iPin41_Home" SITE "66" ;
LOCATE COMP "iPin40_Bot_Illumination" SITE "67" ;
LOCATE COMP "iPin39_GO" SITE "68" ;
LOCATE COMP "iPin38_Pulsing_Mode" SITE "69" ;
LOCATE COMP "iPin37_Micro_Online" SITE "70" ;
LOCATE COMP "oBlue_LED_Pulse" SITE "71" ;
LOCATE COMP "oPin34_ACK" SITE "74" ;
LOCATE COMP "oPin32_DONE" SITE "75" ;
LOCATE COMP "iPin12_Select_SlideRel" SITE "78" ;
LOCATE COMP "iSlideRel_ENCA" SITE "96" ;
LOCATE COMP "iSlideRel_ENCB" SITE "83" ;
LOCATE COMP "iSlideRel_ENCX" SITE "84" ;
LOCATE COMP "oSystem_ON_N" SITE "99" ;
#IOBUF PORT "iOSC_50MHz_P" IO_TYPE=LVDS25 DIFFRESISTOR=OFF PULLMODE=NONE CLAMP=OFF ;
#LOCATE COMP "iOSC_50MHz_P" SITE "88" ;
#FREQUENCY NET "sOSC_50MHz" 50.000000 MHz ;
SYSCONFIG MCCLK_FREQ=26.6 ;
FREQUENCY NET "sInternal_OSC_26M60" 26.600000 MHz ;